{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}

	<h1 style="text-align:center">BIENVENUE CHEZ PEACE HOTEL</h1>
	<div class="row">
		<img src="http://www.antinavoyage.com/images/lamantin.jpg" alt="Circuit ornithologie" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 1435px; height: 310px; margin: 10.697px 0px;">
	</div>

	<h1 style="text-align:center">Interieur Hotel</h1>
	<div class="row"></div>
</div>
<!--fin div 1 -->

<!--div 2 -->

<div class="row" style="margin-lef:60px; margin-top:50px">
	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">Peace Hotel
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">PARKING</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;"></font>
			</h6>
		</div>
		<img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/35/47/cd/parking.jpg" alt="Parking - Photo de Carlos I Hotel, Benidorm - Tripadvisor" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<div class="corps-carte">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>

	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="horizontal-align: inherit;">
				<font style="vertical-align: inherit;">Peace Hotel
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">CHAMBRE POUR LES ENFANTS</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;"></font>
			</font>
		</h6>
	</div>
	<img src="https://www.tourmag.com/photo/art/grande/17134248-21667524.jpg?v=1505306148" alt="Genève : The Ritz-Carlton Hotel de la Paix ouvre ses portes" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
	<div class="corps-carte">
		<p class="card-text">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">Il y a 2 jours.</font>
			</font>
		</p>
	</div>

</div>

<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
	<h3 class="card-header">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">Peace Hotel
			</font>
		</font>
	</h3>
	<div class="corps-carte">
		<h5 class="card-title">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">SALON</font>
			</font>
		</h5>
		<h6 class="card-subtitle text-muted">
			<font style="vertical-align: inherit;"></font>
		</h6>
	</div>
	<div class="corps-carte">
		<img src="https://maison1.advcdn.net/images/medias/000/051/000051357/600.jpg" alt="La vision hôtelière des Borella - Galerie photos d&amp;#39;article (2/6)" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<p class="card-text">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">Il y a 2 jours.</font>
			</font>
		</p>
	</div>

</div>
<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
	<h3 class="card-header">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">Peace Hotel
			</font>
		</font>
	</h3>
	<div class="corps-carte">
		<h5 class="card-title">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">CUISINE</font>
			</font>
		</h5>
		<h6 class="card-subtitle text-muted">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;"></font>
			</font>
		</h6>
	</div>
	<div class="corps-carte">
		<img src="https://metrika.in/blog/wp-content/uploads/2018/09/Image-1-56a52b925f9b58b7d0db3a48.jpg" alt="Kitchen Cabinets – Modular Kitchen, Wardrobe and Beds" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<p class="card-text">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">Il y a 2 jours.</font>
			</font>
		</p>
	</div>

</div>
<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
	<h3 class="card-header">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">Peace Hotel
			</font>
		</font>
	</h3>
	<div class="corps-carte">
		<h5 class="card-title">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">CHAMBRE POUR ADULTE</font>
			</font>
		</h5>
		<h6 class="card-subtitle text-muted">
			<font style="vertical-align: inherit;">
				<fontIlPeaceJARDIN</font style="vertical-align: inherit;" </font> </font> </h6> </div> <div class="corps-carte"> <img src="https://i.pinimg.com/originals/e5/38/50/e53850007ab2279d1f14cd3eeff85557.jpg" alt="Hotel Paris Opera | Déco chambre hotel, Chambre hôtel, Chambre classique" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;"> <p class="card-text"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> y a 2 jours.</font> </font> </p> </div> </div> <div class="carte mb-3" style="width: 23rem; margin-left: 60px"> <h3 class="card-header"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> hotel </font> </font> </h3> <div class="corps-carte"> <h5 class="card-title"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;">></font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;"></font>
			</h6>
		</div>

		<div class="corps-carte">
			<img src="https://www.designferia.com/sites/default/files/images/4-jardin-de-luxe-hotel-taj-falaknuma-palace.jpg" alt="Taj Falaknuma Palace ou l&amp;#39;hotel de luxe unique | Design Feria" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;"><p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>


{% endblock %}
