{% extends 'base.html.twig' %}

{% block title %}Hello AccueilContollerController!
{% endblock %}

{% block body %}
	<body style="color:;background-color:hsl(0, 100%, 100%);">

		<h1 style="text-align:center;color:red">Les hôtels les plus réservés à Tarifa le mois dernier</h1>

		<div class="row">
			<img src="https://previews.123rf.com/images/maxborovkov/maxborovkov1703/maxborovkov170300136/74746779-welcome-paper-background-with-colorful-confetti-vector-illustration-.jpg" alt="Welcome Paper Background With Colorful Confetti. Vector Illustration.  Royalty Free Cliparts, Vectors, And Stock Illustration. Image 74746779." jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 1235px; height: 168.646px; margin: 0px;">
		</div>


		<h1 style="text-align:center;color:red">LES DERNIERES PUBLICATIONS</h1>
		<div class="row"></div>

	</body>
</div>
<!--fin div 1 -->

<!--div 2 -->

<div class="row" style="margin-lef:60px; margin-top:50px">
	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">hotel tarif:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Dotè d'une piscine exterieure 500.000F/MOIS</font>
				</font>
			</h6>
		</div>
		<img src="https://media-cdn.tripadvisor.com/media/photo-s/11/f7/6a/13/radisson-hotel-dakar.jpg" alt="Les 10 meilleurs hôtels de plage à Dakar en 2021 (avec prix) - Tripadvisor" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<div class="corps-carte">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>

	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="horizontal-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">hotel tarif:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">SITUE à 400m DE LA PLAGE 600.000f/MOIS
					</font>
				</font>
			</h6>
		</div>
		<img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/60/4e/57/hotel-de-la-plage-mahogany.jpg" alt="Les 10 meilleurs hôtels avec plage privée Côte d&amp;#39;Azur en 2021 (avec prix) -  Tripadvisor" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<div class="corps-carte">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>

	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">hotel tarif:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">
						Sine Saloum 300.000f/mois</font>
				</font>
			</h6>
		</div>
		<img src="https://www.au-senegal.com/IMG/etablissementon723.jpg" alt="Keur Saloum Lodge Hôtel / Sénégal" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<div class="corps-carte">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>
	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">HOTEL TARIF:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Situè à cotè de la reserve naturelle c'est 450.000/MOIS</font>
				</font>
			</h6>
		</div>
		<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/304009670.jpg?k=0348e027c67eeb4d43b8200993609ec6a076677c7c5da3322c25a50636302d32&amp;o=&amp;hp=1" alt="Hôtel Côté Jardin, Commercy – Tarifs 2021" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
		<div class="corps-carte">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>
	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Hotel Tarif:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Dotè d'une terrain de football c'est 600.000f/mois</font>
				</font>
			</h6>
		</div>
		<div class="corps-carte">
			<img src="https://wiwsport.com/v2/wp-content/uploads/2019/04/Tibaaaaaaaaaaaaaa.jpg" alt="Images) CAN 2019: Découvrez l&amp;#39;hôtel Tiba Rose, camp de base des Lions du  Sénégal en Egypte ! - #SUNUCAN" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 355px; margin: 0px;">
			<p class="card-text">

				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>

	</div>
	<div class="carte mb-3" style="width: 23rem; margin-left: 60px">
		<h3 class="card-header">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">PEACE HOTEL
				</font>
			</font>
		</h3>
		<div class="corps-carte">
			<h5 class="card-title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">HOTEl TARIF:</font>
				</font>
			</h5>
			<h6 class="card-subtitle text-muted">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Dotè d'une piscine interieure c'est à 700.000/Mois</font>
				</font>
			</h6>
		</div>

		<div class="corps-carte">
			<img src="https://media-magazine.trivago.com/wp-content/uploads/2016/06/13150945/hotel-avra-imperial-piscine-privee.jpg" alt="8 suites d&amp;#39;hôtel avec piscine privée pour un week-end en Europe" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 350px; height: 350px; margin: 0px;">
			<p class="card-text">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Il y a 2 jours.</font>
				</font>
			</p>
		</div>
	</div>


{% endblock %}
